.App {
 
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  background-color: aliceblue;
  margin: auto;
}
.counters{
  display: flex;
  gap: 20px;
}
